<div>
  <br /><br />
  <h2>Franz Schubert</h2>

  <hr />

  <div class="row">
    <div class="col-sm-6">
      <img src="../../assets/franz-schubert-image.jpg" alt="Franz Schubert" />
    </div>
    <div class="col-sm-4">
      <p>
        Franz Schubert is an Austrian composer who bridged the classical and
        romantic periods. One of the few composers to evoke the spirit of
        Mozart, especially in his work – Symphony number 5. Schubert composed
        seven symphonies sacred music, operas and piano music. He was also a
        great composer of secular vocal songs. Famous works include his immortal
        version of Ave Maria, Piano Sonata in A major, Symphony in C major, and
        Symphony No.5 in Bb major.
      </p>
    </div>
  </div>
</div>
