<div>
  <br /><br />
  <h2>Welcome to the Contact Page</h2>
  <br /><br />
  <div class="row">
    <div class="col-sm-5 right-img">
      <div class="img-holder">
        <img src="../../assets/navigation-icon.png" alt="nav icon" />
      </div>
      <p><strong> 12345 Street Rd</strong></p>
      <p><strong>City, Ohio 54321</strong></p>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-5 left-img">
      <div class="img-holder">
        <img src="../../assets/phone-icon.png" alt="phone icon" />
      </div>
      <p>Phone: <strong>(555) 555-5555</strong></p>
      <p>Fax: <strong>(666) 666-6666</strong></p>
    </div>
  </div>
</div>
